<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="head">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" th:href="logo.png" />
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/form.css" th:href="@{/css/form.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/datatable.css" th:href="@{/css/datatable.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/article.css" th:href="@{/css/article.css}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad()</script>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/notify.js"></script>
    </head>
</div>
</html>